<form method="post" action="/register" enctype="multipart/form-data">
    用户名&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" placeholder="用户名" name="username"><br/>
    密码&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="password"><br/>
    确认密码<input type="text"><br/>
    头像&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="file" name="avatar"><br/>
    <select name="city">
        <option value="beijing">北京</option>
        <option value="shanghai">上海</option>
        <option value="guangzhou">广州</option>
    </select><br/>
    <input type="submit" value="注册">
</form>